@import '../../../styles/breakpoints';

.header {
  position: fixed;
  z-index: var(--z-index-header);
  
  display: flex;
  align-items: center;

  width: 100%;
  height: var(--header-height);
  min-height: var(--header-height);
  
  background-color: var(--color-header-bg);
  box-shadow: 0 2px 4px rgb(0 0 0 / 20%);
}

.inner {
  display: flex;
  gap: 40px;
  align-items: center;
  justify-content: space-between;

  @media screen and (width <= $breakpoint-md) {
    gap: 20px;
  }

  @media screen and (width <= $breakpoint-sm) {
    gap: 10px;
  }
}
