:root {
  // colors
  --color-primary: #353535;
  --color-white: #fff;

  // button primary
  --color-btn-primary: #5c68ac;
  --color-btn-primary-hover: #4c5897;
  --color-btn-outline-hover: #eef3ff;
}
