:root {
  // z-index
  --z-index-header: 1000;
  --z-index-app: 100;
  --z-index-modal: 200;
  --z-index-popover: 300;
  --z-index-overlay: 400;
  --z-index-max: 9999;
  --z-index-product-img-after: 1;
  --z-index-product-img: 2;
  --z-index-product: 3;

  // radius
  --radius-default: 0.25rem;
  --radius-xs: 0.125rem; 
  --radius-sm: 0.25rem;
  --radius-md: 0.5rem;
  --radius-lg: 1rem;
  --radius-xl: 2rem;

  // shadows
  --shadow-xs: 0 0.0625rem 0.1875rem rgb(0 0 0 / 5%), 0 0.0625rem 0.125rem rgb(0 0 0 / 10%);
  --shadow-sm: 0 0.0625rem 0.1875rem rgb(0 0 0 / 5%),
    rgb(0 0 0 / 5%) 0 0.625rem 0.9375rem -0.3125rem,
    rgb(0 0 0 / 4%) 0 0.4375rem 0.4375rem -0.3125rem;
  --shadow-md: 0 0.0625rem 0.1875rem rgb(0 0 0 / 5%), rgb(0 0 0 / 5%) 0 1.25rem 1.5625rem -0.3125rem,
    rgb(0 0 0 / 4%) 0 0.625rem 0.625rem -0.3125rem;
  --shadow-lg: 0 0.0625rem 0.1875rem rgb(0 0 0 / 5%), rgb(0 0 0 / 5%) 0 1.75rem 1.4375rem -0.4375rem,
    rgb(0 0 0 / 4%) 0 0.75rem 0.75rem -0.4375rem;
  --shadow-xl: 0 0.0625rem 0.1875rem rgb(0 0 0 / 5%), rgb(0 0 0 / 5%) 0 2.25rem 1.75rem -0.4375rem,
    rgb(0 0 0 / 4%) 0 1.0625rem 1.0625rem -0.4375rem;

  // layout
  --header-height: 72px;
  --sidebar-width: 250px
}
