

.sidebar {
  position:sticky;
  top: calc(var(--header-height) + 12px);
  left:0;

  width: var(--sidebar-width);
  height: 89vh;
  padding: 20px;

  background-color: var(--color-white);
  border-radius: var(--radius-md);
  box-shadow: var(--shadow-sm);
}